<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Male:</strong>
  <%= @user.male %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<%= link_to 'Edit', edit_team_user_path(@team, @user) %> |
<%= link_to 'Back', team_users_path(@team) %>
